<template>
  <div class="page-container">
    <div class="header">Boss数据</div>
    <el-row class="toolbar">
      <el-button round icon="el-icon-rank" size="medium" @click="auto_adaptive">自动</el-button>
      <el-button round icon="el-icon-full-screen" size="medium" @click="original_img">原图</el-button>
    </el-row>
    <img src="~assets/boss.jpg" :style="img_style()">
  </div>
</template>

<script>
export default {
  name: "Boss",
  methods: {
    auto_adaptive() {
      this.original = false;
    },
    original_img() {
      this.original = true;
    },
    img_style() {
      if (this.original) {
        return {};
      } else {
        return { width: "100%" };
      }
    }
  },
  data () {
    return {
      original: true,
    }
  }
}
</script>

<style>
  .header {
    font-size: xx-large;
    font-family: "Helvetica";
  }
  .toolbar {
    margin-bottom: 15px;
  }
</style>