<template>
  <div class="page-container">
    <div class="header">魔方概率</div>
    <el-collapse v-model="activeNames">
      <el-collapse-item title="平时神奇魔方A到S" name="1">
        <el-row :gutter="10">
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>按个数</span></div>
              <div v-for="p in p1" :key="p[0]">{{ p[0] + "个神奇魔方A到S的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>按概率</span></div>
              <div v-for="p in p2" :key="p[0]">{{ p[0] + "个神奇魔方A到S的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
        </el-row>
      </el-collapse-item>
      <el-collapse-item title="平时红魔方S到SS" name="2">
        <el-row :gutter="10">
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>按个数</span></div>
              <div v-for="p in p3" :key="p[0]">{{ p[0] + "个红魔方S到SS的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>按概率</span></div>
              <div v-for="p in p4" :key="p[0]">{{ p[0] + "个红魔方S到SS的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
        </el-row>
      </el-collapse-item>
      <el-collapse-item title="平时黑魔方S到SS" name="3">
        <el-row :gutter="10">
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>按个数</span></div>
              <div v-for="p in p5" :key="p[0]">{{ p[0] + "个黑魔方S到SS的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>按概率</span></div>
              <div v-for="p in p6" :key="p[0]">{{ p[0] + "个黑魔方S到SS的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
        </el-row>
      </el-collapse-item>
      <el-collapse-item title="平时洗附加魔方" name="4">
        <el-row :gutter="10">
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>B到A</span></div>
              <div v-for="p in p7" :key="p[0]">{{ p[0] + "个附加魔方B到A的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>A到S</span></div>
              <div v-for="p in p8" :key="p[0]">{{ p[0] + "个附加魔方A到S的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>S到SS</span></div>
              <div v-for="p in p9" :key="p[0]">{{ p[0] + "个附加魔方S到SS的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
        </el-row>
      </el-collapse-item>
      <el-collapse-item title="双倍神奇魔方A到S" name="5">
        <el-row :gutter="10">
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>按个数</span></div>
              <div v-for="p in p10" :key="p[0]">{{ p[0] + "个神奇魔方A到S的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>按概率</span></div>
              <div v-for="p in p11" :key="p[0]">{{ p[0] + "个神奇魔方A到S的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
        </el-row>
      </el-collapse-item>
      <el-collapse-item title="双倍红魔方S到SS" name="6">
        <el-row :gutter="10">
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>按个数</span></div>
              <div v-for="p in p12" :key="p[0]">{{ p[0] + "个红魔方S到SS的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>按概率</span></div>
              <div v-for="p in p13" :key="p[0]">{{ p[0] + "个红魔方S到SS的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
        </el-row>
      </el-collapse-item>
      <el-collapse-item title="双倍黑魔方S到SS" name="7">
        <el-row :gutter="10">
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>按个数</span></div>
              <div v-for="p in p14" :key="p[0]">{{ p[0] + "个黑魔方S到SS的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>按概率</span></div>
              <div v-for="p in p15" :key="p[0]">{{ p[0] + "个黑魔方S到SS的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
        </el-row>
      </el-collapse-item>
      <el-collapse-item title="双倍洗附加魔方" name="8">
        <el-row :gutter="10">
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>B到A</span></div>
              <div v-for="p in p16" :key="p[0]">{{ p[0] + "个附加魔方B到A的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>A到S</span></div>
              <div v-for="p in p17" :key="p[0]">{{ p[0] + "个附加魔方A到S的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
          <el-col :span="8">
            <el-card shadow="always">
              <div slot="header"><span>S到SS</span></div>
              <div v-for="p in p18" :key="p[0]">{{ p[0] + "个附加魔方S到SS的概率为：" + p[1] }}</div>
            </el-card>
          </el-col>
        </el-row>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
export default {
    name: "Cube",
    data () {
        return {
          activeNames: ['0'],

          // auto generate
          p1: [[10,"18.29%"],[20,"33.24%"],[30,"45.45%"],[40,"55.43%"],[50,"63.58%"],[60,"70.24%"],[70,"75.69%"],[80,"80.14%"],[90,"83.77%"],[100,"86.74%"],[110,"89.16%"]],
          p2: [[6,"11.42%"],[12,"21.53%"],[18,"30.49%"],[26,"40.86%"],[35,"50.69%"],[46,"60.52%"],[60,"70.24%"],[80,"80.14%"],[114,"90.01%"]],
          p3: [[10,"5.84%"],[20,"11.34%"],[30,"16.52%"],[40,"21.39%"],[50,"25.99%"],[60,"30.31%"],[70,"34.38%"],[80,"38.21%"],[90,"41.82%"],[100,"45.22%"],[110,"48.42%"],[120,"51.43%"],[130,"54.27%"],[140,"56.94%"],[150,"59.45%"],[160,"61.82%"],[170,"64.05%"],[180,"66.15%"],[190,"68.13%"],[200,"69.99%"],[210,"71.74%"],[220,"73.39%"],[230,"74.95%"],[240,"76.41%"],[250,"77.79%"],[260,"79.08%"],[270,"80.31%"],[280,"81.46%"],[290,"82.54%"],[300,"83.56%"],[310,"84.52%"],[320,"85.42%"],[330,"86.28%"],[340,"87.08%"],[350,"87.83%"],[360,"88.54%"],[370,"89.21%"],[380,"89.84%"]],
          p4: [[18,"10.27%"],[38,"20.44%"],[60,"30.31%"],[85,"40.04%"],[116,"50.25%"],[153,"60.18%"],[201,"70.17%"],[268,"80.07%"],[383,"90.02%"]],
          p5: [[10,"13.15%"],[20,"24.57%"],[30,"34.49%"],[40,"43.10%"],[50,"50.59%"],[60,"57.08%"],[70,"62.73%"],[80,"67.63%"],[90,"71.89%"],[100,"75.58%"],[110,"78.79%"],[120,"81.58%"],[130,"84.00%"],[140,"86.11%"],[150,"87.93%"],[160,"89.52%"]],
          p6: [[8,"10.67%"],[16,"20.19%"],[26,"30.69%"],[37,"40.65%"],[50,"50.59%"],[65,"60.01%"],[86,"70.25%"],[115,"80.24%"],[164,"90.10%"]],
          p7: [[3,"13.72%"],[5,"21.80%"],[8,"32.53%"],[11,"41.79%"],[15,"52.19%"],[19,"60.73%"],[25,"70.76%"],[33,"80.27%"],[47,"90.09%"]],
          p8: [[6,"11.42%"],[12,"21.53%"],[18,"30.49%"],[26,"40.86%"],[35,"50.69%"],[46,"60.52%"],[60,"70.24%"],[80,"80.14%"],[114,"90.01%"]],
          p9: [[22,"10.44%"],[45,"20.19%"],[72,"30.30%"],[102,"40.03%"],[139,"50.18%"],[183,"60.04%"],[241,"70.12%"],[322,"80.09%"],[460,"90.03%"]],
          p10: [[10,"33.52%"],[20,"55.80%"],[30,"70.61%"],[40,"80.46%"],[50,"87.01%"],],
          p11: [[3,"11.53%"],[6,"21.72%"],[9,"30.75%"],[13,"41.18%"],[17,"50.04%"],[23,"60.89%"],[30,"70.61%"],[40,"80.46%"],[57,"90.24%"],],
          p12: [[10,"11.37%"],[20,"21.45%"],[30,"30.38%"],[40,"38.30%"],[50,"45.32%"],[60,"51.54%"],[70,"57.05%"],[80,"61.93%"],[90,"66.26%"],[100,"70.10%"],[110,"73.50%"],[120,"76.51%"],[130,"79.18%"],[140,"81.55%"],[150,"83.65%"],[160,"85.51%"],[170,"87.16%"],[180,"88.62%"],[190,"89.91%"],],
          p13: [[9,"10.30%"],[19,"20.50%"],[30,"30.38%"],[43,"40.50%"],[58,"50.35%"],[76,"60.05%"],[100,"70.10%"],[134,"80.17%"],[191,"90.03%"],],
          p14: [[10,"24.72%"],[20,"43.33%"],[30,"57.34%"],[40,"67.89%"],[50,"75.83%"],[60,"81.80%"],[70,"86.30%"],[80,"89.69%"],],
          p15: [[4,"10.74%"],[8,"20.32%"],[13,"30.87%"],[18,"40.02%"],[25,"50.83%"],[33,"60.83%"],[43,"70.51%"],[57,"80.19%"],[82,"90.26%"],],
          p16: [[2,"18.28%"],[3,"26.12%"],[4,"33.22%"],[6,"45.42%"],[7,"50.66%"],[10,"63.55%"],[12,"70.21%"],[16,"80.11%"],[23,"90.19%"],],
          p17: [[3,"11.53%"],[6,"21.72%"],[9,"30.75%"],[13,"41.18%"],[17,"50.04%"],[23,"60.89%"],[30,"70.61%"],[40,"80.46%"],[57,"90.24%"],],
          p18: [[11,"10.47%"],[23,"20.64%"],[36,"30.36%"],[51,"40.10%"],[69,"50.02%"],[92,"60.33%"],[120,"70.06%"],[161,"80.17%"],[230,"90.09%"],],
        }
    }
}
</script>

<style>
  .header {
    font-size: xx-large;
    font-family: "Helvetica";
  }
</style>