<template>
  <div class="page-container">
    <div class="header">MapleStroy All in One</div>
    <p>标题即介绍，不解释了。</p>
    <p>作者：{{ author }}</p>
    <p>版本：{{ version }}</p>
    <p>更新日期：{{ update_time }}</p>
    <el-alert :title="text1" type="warning" :closable="false" center></el-alert>
    <el-alert :title="text2" type="warning" :closable="false"></el-alert>
    <el-alert :title="text3" type="warning" :closable="false"></el-alert>
    <el-alert :title="text4" type="warning" :closable="false"></el-alert>
    <el-alert :title="text5" type="warning" :closable="false"></el-alert>
  </div>
</template>

<script>
export default {
  name: "Home",
  mounted() {
    let json = require('../version.json');
    console.log(json);
    this.author = json['author'];
    this.version = json['version'];
    this.update_time = json['update'];
  },
  data() {
    return {
      author: '',
      version: '',
      update_time: '',
      text1: `免责声明`,
      text2: `本软件只是将冒险岛相关的各种资料收集起来，所有信息仅供参考使用，一切因信息不准确或错误对用户或其他人士产生损失的，本人不负负任何直接或间接的责任。QwQ`,
      text3: `本软件不会进行任何有害的行为，使用后若出现诸如中毒、盗号等现象，均与本人无关。QAQ`,
      text4: `本软件的部分图片、文字、资料收集于网络，如果侵犯，请及时通知我，将在第一时间及时删除。`,
      text5: `凡以任何方式直接、间接使用本软件者，视为自愿接受声明的约束。`,
    }
  }
}
</script>

<style>
  .page-container {
    opacity: 0.8;
  }
  .header {
    font-size: xx-large;
    font-family: "Helvetica","华文细黑";
  }
  .p {
    margin: 15px 0;
  }
  .box {
    margin-top: 10px;
    padding: 15px 15px;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
  }
</style>