<template>
  <div>
    <div class="header">面板</div>

    <div class="tips">
      <div class="tips-item" style="text-align:center">使用指南</div>
      <div class="tips-item">1. 请尽可能的填写完整的、正确的数据，法师的攻击按魔法力来填，瞎搞的不对结果做任何保证 (手动狗头</div>
      <div class="tips-item">2. 由于各种漏统计的数据以及公式、中间结果的偏差，会导致结果会有一定的误差，但已经尽全力保证全网误差最小了！</div>
      <div class="tips-item">3. 特殊职业（尖兵，白毛）尚未完成 (懒癌</div>
      <div class="tips-item">4. 更加实际有用的应该填写BOSS战中的常态数据，包括常态技能加成、药水等，以便更好地分析在实战中的提升</div>
      <div class="tips-item">5. 记得导出保存！记得导出保存！记得导出保存！</div>
    </div>

    <div class="toolbar">
      <el-button size="mini" type="primary" plain icon="el-icon-upload2" @click="export_data">导出数据</el-button>
      <el-button size="mini" type="primary" plain icon="el-icon-download" @click="import_data">导入数据</el-button>
    </div>
    <input ref="files" id="input_file" type="file" accept="*/*" style="display: none" @change="load_data">
    <el-form :model="forms" :rules="rules" ref="forms" label-position="top" label-width="60px" size="small" style="margin-bottom: 15px" @change="data_change">
      <el-row :gutter="10">
        <el-col :span="6">
          <el-form-item label="角色ID">
          <el-input v-model="forms.id"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="角色等级：" prop="level">
            <el-input v-model.number="forms.level"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="职业类型：" prop="job">
            <el-cascader v-model="forms.job" :options="job_ops"  @change="job_change">
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="武器类型：" prop="arms">
            <el-select v-model="forms.arms" placeholder="请选择">
              <el-option
                v-for="item in arms_ops"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                <span style="float: left">{{ item.label }}</span>
                <span style="float: right; color: #8492a6; font-size: 12px">{{ item.desc }}</span>
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="10">
        <el-col :span="4">
          <el-form-item label="伤害(%)" prop="damage">
            <el-input v-model.number="forms.damage"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="最终伤害(%)" prop="final_damage">
            <el-input v-model.number="forms.final_damage"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="首领怪物伤害(%)" prop="boss">
            <el-input v-model.number="forms.boss"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="无视防御率(%)" prop="ignore_def">
            <el-input v-model.number="forms.ignore_def"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item label="冒险岛勇士(%)" prop="maple_warrior">
            <el-input v-model.number="forms.maple_warrior"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="10">
        <el-col :span="4">
          <el-form-item label="爆击发动(%)" prop="critical_rate">
            <el-input v-model.number="forms.critical_rate"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item label="爆击伤害(%)" prop="critical_damage">
            <el-input v-model.number="forms.critical_damage"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="内在基于等级攻击力增加(四舍五入)" prop="inner_att">
            <el-input v-model.number="forms.inner_att" @change="update_final_att"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="(阴阳师)五行阴阳师魔力提升" prop="kanna_skill">
            <el-input v-model.number="forms.kanna_skill" @change="update_final_att"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <vxe-table
      size="mini" border=none resizable highlight-hover-row show-footer
      ref="xTable"
      height="500"
      :footer-method="footer_method"
      :data="table_data"
      :edit-config="{trigger: 'click', mode: 'cell', activeMethod: active_cell_method}"
      @change="data_change">
      <vxe-table-column v-for="config in table_column" :key="config.field" v-bind="config" :edit-render="{name: 'input', autoselect: true}"></vxe-table-column>
    </vxe-table>

    <div class="table-extra" v-if="table_data.length != 0">
      <el-button size="mini" round icon="el-icon-plus" @click="add_row">添加额外行</el-button>
      <el-button size="mini" round icon="el-icon-minus" @click="remove_row">删除最后的额外行</el-button>
      <el-button type="success" size="mini" round icon="el-icon-key" @click="analyze">大魔法师的指引</el-button>
    </div>

    <div class="panel-result" v-if="finished">
      <el-row :gutter="10" class="result-item">
        <el-col :span="6">基础攻击: <el-tag effect="plain">{{stats['att']['base']}}</el-tag></el-col>
        <el-col :span="6">攻击百分比: <el-tag effect="plain">{{stats['att']['percent']}}%</el-tag></el-col>
        <el-col :span="6">附加攻击: <el-tag effect="plain">{{stats['att']['final']}}</el-tag></el-col>
        <el-col :span="6">总攻击: <el-tag effect="plain">{{stats['att']['total']}}</el-tag></el-col>
      </el-row>
      <el-row :gutter="10" v-for="(stat,i) in primary_stat" :key="stat" class="result-item">
        <el-col :span="6">基础{{primary_stat[i]}}: <el-tag effect="plain">{{base_pri_stat(i)}}</el-tag></el-col>
        <el-col :span="6">{{primary_stat[i]}}百分比: <el-tag effect="plain">{{stats[`p${i}`]['percent']}}%</el-tag></el-col>
        <el-col :span="6">附加{{primary_stat[i]}}: <el-tag effect="plain">{{stats[`p${i}`]['final']}}</el-tag></el-col>
        <el-col :span="6">总{{primary_stat[i]}}: <el-tag effect="plain">{{stats[`p${i}`]['total']}}</el-tag></el-col>
      </el-row>
      <el-row :gutter="10" v-for="(stat,i) in secondary_stat" :key="stat" class="result-item">
        <el-col :span="6">基础{{secondary_stat[i]}}: <el-tag effect="plain">{{base_sec_stat(i)}}</el-tag></el-col>
        <el-col :span="6">{{secondary_stat[i]}}百分比: <el-tag effect="plain">{{stats[`s${i}`]['percent']}}%</el-tag></el-col>
        <el-col :span="6">附加{{secondary_stat[i]}}: <el-tag effect="plain">{{stats[`s${i}`]['final']}}</el-tag></el-col>
        <el-col :span="6">总{{secondary_stat[i]}}: <el-tag effect="plain">{{stats[`s${i}`]['total']}}</el-tag></el-col>
      </el-row>
      <el-row :gutter="10" class="result-item">
          <el-col :span="10">真实面板上限: <el-tag effect="plain">{{actual_damage}}</el-tag></el-col>
          <el-col :span="10">显示面板上限: <el-tag effect="plain">{{shown_damage}}</el-tag></el-col>
      </el-row>

      <el-divider>属性提升与效果转换</el-divider>
      <el-row :gutter="10" class="result-item">
        <el-col :span="9">提升1%攻击总攻击增加: <el-tag effect="plain">{{(stats['att']['base']*0.01).toFixed(2)}}</el-tag></el-col>
        <el-col :span="9">提升1攻击总攻击增加: <el-tag effect="plain">{{(1+stats['att']['percent']*0.01).toFixed(2)}}</el-tag></el-col>
        <el-col :span="6">1%攻击 ≈ {{(stats['att']['base']*0.01/(1+stats['att']['percent']*0.01)).toFixed(2)}}攻击</el-col>
      </el-row>
      <el-row :gutter="10" v-for="(stat,i) in primary_stat" :key="i" class="result-item">
        <el-col :span="9">提升1%{{primary_stat[i]}}总{{primary_stat[i]}}增加: <el-tag effect="plain">{{(base_pri_stat(i)*0.01).toFixed(2)}}</el-tag></el-col>
        <el-col :span="9">提升1{{primary_stat[i]}}总{{primary_stat[i]}}增加: <el-tag effect="plain">{{(1+stats[`p${i}`]['percent']*0.01).toFixed(2)}}</el-tag></el-col>
        <el-col :span="6">1%{{primary_stat[i]}} ≈ {{(base_pri_stat(i)*0.01/(1+stats[`p${i}`]['percent']*0.01)).toFixed(2)}}{{primary_stat[i]}}</el-col>
      </el-row>
      <el-row v-if="job_type === 0" :gutter="10" class="result-item">
        <el-col :span="9">提升1攻击面板增加：<el-tag effect="plain">{{improve[0]}}</el-tag></el-col>
        <el-col :span="9">提升1{{primary_stat[0]}}面板增加：<el-tag effect="plain">{{improve[1]}}</el-tag></el-col>
      </el-row>
      <el-row v-if="job_type === 0" :gutter="10" class="result-item">
        <el-col :span="9">1攻击 ≈ {{(improve[0]/improve[1]).toFixed(2)}}{{primary_stat[0]}}</el-col>
        <el-col :span="9">1攻击 ≈ {{((improve[0]*(1+this.stats['p0']['percent']*0.01))/(improve[1]*(this.stats['p0']['base']*0.01))).toFixed(2)}}%{{primary_stat[0]}}</el-col>
      </el-row>
      <el-row v-if="job_type === 0" class="result-item">
        推论:<br>①火花1%所有属性 ≈ {{Math.round(base_pri_stat(0)*0.01/(1+stats['p0']['percent']*0.01))}}{{primary_stat[0]}}<br>
        ②装备砸卷30%痕迹跟均{{(7/(improve[0]/improve[1])).toFixed(1)}}攻击效果差不多
      </el-row>
      
      <el-row v-if="job_type === 2" class="result-item">
        推论: 火花1%所有属性可以提升共(力量、敏捷、运气){{Math.round(stats['p0']['base']*0.01+stats[`p1`]['base']*0.01+stats[`p2`]['base']*0.01)}}点属性，属性火花加起来的提升大于它，则属性火花更好
      </el-row>

      <el-divider>对300防御BOSS的提升</el-divider>
      <el-row :gutter="10" class="result-item">
        <el-col :span="10">当前对BOSS的输出:</el-col>
        <el-col :span="10">1x</el-col>
      </el-row>
      <el-row :gutter="10" class="result-item" v-for="i in boss_improve" :key="i.name">
        <el-col :span="10">提升{{i.name}}后对BOSS的输出:</el-col>
        <el-col :span="10">{{i.value.toFixed(4)}}x</el-col>
      </el-row>
      <el-row :gutter="10" class="result-item">
        推论：<br>①1%BOSS ≈ {{boss_to_attp.toFixed(2)}}%攻击<br>②1%BOSS ≈ {{boss_to_att.toFixed(2)}}攻击<br>③1%爆伤 ≈ {{cd_to_att.toFixed(2)}}攻击<br>④1%爆伤 ≈ {{cd_to_statp.toFixed(2)}}%属性
      </el-row>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
export default {
  name: "Panel",
  components: {
    Vue
  },
  data() {
    var check_integer = (rule, value, callback) => {
      if (!value && value != 0) {
        return callback(new Error('请输入正确的数字'));
      }
      setTimeout(() => {
        if (!Number.isInteger(value)) {
          callback(new Error('请输入正确的数字'));
        } else {
          if (value < 0) {
            callback(new Error('要输入正整数哦！'));
          } else {
            callback();
          }
        }
      }, 100);
    };
    return {
      job_ops: [
        { 
          value: 'warrior', label: '战士', children: [
            { value: '0', label: '一般战士' },
            { value: '1', label: '恶魔复仇者' },
          ]
        },
        { value: '2', label: '魔法师' },
        { value: '3', label: '弓箭手' },
        {
          value: 'thief', label: '飞侠', children: [
            { value: '4', label: '一般飞侠' },
            { value: '5', label: '侠盗/双刀/卡德娜' }
          ]
        },
        {
          value: 'pirate', label: '海盗', children: [
            { value: '6', label: '短枪使用者/爆莉萌天使' },
            { value: '7', label: '指节使用者/火炮手' }
          ]
        },
        { value: '8', label: '尖兵' },
      ],
      arms_ops: [
        { value: 0, label: '长/短杖', desc: '魔法师', multiplier: 1.0 },
        { value: 1, label: '长/短杖', desc: '火毒/冰雷/主教', multiplier: 1.2 },
        { value: 2, label: '长/短杖', desc: '炎术士', multiplier: 1.2 },
        { value: 3, label: '双头杖', desc: '夜光法师', multiplier: 1.2 },
        { value: 4, label: 'ESP限制器', desc: '超能力者', multiplier: 1.2 },
        { value: 5, label: '魔力手套', desc: '圣晶使徒', multiplier: 1.2 },
        { value: 6, label: '单手剑/斧/钝器', desc: '战士', multiplier: 1.2 },
        { value: 7, label: '单手剑/斧', desc: '英雄', multiplier: 1.3 },
        { value: 8, label: '双手剑/斧/钝器', desc: '战士', multiplier: 1.34 },
        { value: 9, label: '双手剑/斧', desc: '英雄', multiplier: 1.44 },
        { value: 10, label: '武士刀', desc: '剑豪', multiplier: 1.25 },
        { value: 11, label: '弓', desc: '弓箭手', multiplier: 1.3 },
        { value: 12, label: '短刀', desc: '飞侠', multiplier: 1.3 },
        { value: 13, label: '刀', desc: '暗影双刀', multiplier: 1.3 },
        { value: 14, label: '双弩枪', desc: '双弩精灵', multiplier: 1.3 },
        { value: 15, label: '手杖', desc: '幻影', multiplier: 1.3 },
        { value: 16, label: '亡命剑', desc: '恶魔复仇者', multiplier: 1.3 },
        { value: 17, label: '锁链', desc: '卡德娜', multiplier: 1.3 },
        { value: 18, label: '远古弓', desc: '古迹猎人', multiplier: 1.3 },
        { value: 19, label: '仙人扇子', desc: '虎影', multiplier: 1.3 },
        // 据说尖兵是修改了属性系数和武器系数，属性系数3.5，武器系数1.5
        { value: 20, label: '能量剑', desc: '尖兵', multiplier: 1.5 },
        { value: 21, label: '太刀', desc: '拉姿丽', multiplier: 1.34 },
        { value: 22, label: '驯兽魔法棒', desc: '林之灵', multiplier: 1.34 },
        { value: 23, label: '弩', desc: '弓箭手', multiplier: 1.35 },
        { value: 24, label: '折扇', desc: '阴阳师', multiplier: 1.35 },
        { value: 25, label: '矛', desc: '战士', multiplier: 1.49 },
        { value: 26, label: '枪', desc: '战士', multiplier: 1.49 },
        { value: 27, label: '大剑', desc: '拉比斯', multiplier: 1.49 },
        { value: 28, label: '短枪', desc: '海盗', multiplier: 1.5 },
        { value: 29, label: '手持火炮', desc: '火炮手', multiplier: 1.5 },
        { value: 30, label: '指节', desc: '海盗', multiplier: 1.7 },
        { value: 31, label: '灵魂手铳', desc: '爆莉萌天使', multiplier: 1.7 },
        { value: 32, label: '机关手枪', desc: '爆破手', multiplier: 1.7 },
        { value: 33, label: '拳套', desc: '飞侠', multiplier: 1.75 },
      ],
      primary_stat: [],
      secondary_stat: [],
      part: ['内在能力','超级属性','神秘力量','角色卡效果','图腾1','图腾2','图腾3','戒指1','戒指2','戒指3','戒指4','戒指5','戒指6','吊坠1','吊坠2','武器','腰带','帽子','前额','眼饰','上衣','裤子','鞋子','口袋','耳饰','肩饰','手套','符号','徽章','勋章','副手','披风','心脏','套装效果1','套装效果2','套装效果3','套装效果4','称号','宠物装备1','宠物装备2','宠物装备3','职业技能','Link技能','联盟占领效果','怪怪卡','现金道具'],
      forms: {
        id: '',
        level: '',
        job: '',
        arms: '',
        damage: 0,
        final_damage: 0,
        boss: 0,
        ignore_def: 0,
        maple_warrior: 0,
        critical_rate: 0,
        critical_damage: 0,
        inner_att: 0,
        kanna_skill: 0,
      },
      rules: {
        level: [ { validator: check_integer } ],
        damage: [ { validator: check_integer } ],
        final_damage: [ { validator: check_integer } ],
        boss: [ { validator: check_integer } ],
        ignore_def: [ { validator: check_integer } ],
        maple_warrior: [ { validator: check_integer } ],
        critical_rate: [ { validator: check_integer } ],
        critical_damage: [ { validator: check_integer } ],
        inner_att: [ { validator: check_integer } ],
        kanna_skill: [ { validator: check_integer } ],
      },
      
      table_column:[],
      table_data: [],

      is_load: false,
      update_footer: true,
      job_type: 0, // 0 for normal, 1 for Demon Avenger, 2 for Xenon
      stats: {},
      actual_damage: 0,
      shown_damage: 0,
      stat_per_att: 0,
      perc_stat_per_att: 0,
      improve: [],
      boss_improve: [],
      boss_to_attp: 0,
      boss_to_att: 0,
      cd_to_att: 0,
      cd_to_statp: 0,
      finished: false,
    }
  },
 
  methods:{
    data_change() {
      console.log('data change');
      this.finished = false;
    },
    job_change(value) {
      console.log('job change');
      this.job_type = 0;
      switch (Number.parseInt(value[value.length - 1])) {
        case 0: this.primary_stat = ['力量']; this.secondary_stat = ['敏捷']; break;
        case 1: this.primary_stat = ['血量']; this.secondary_stat = ['力量']; this.job_type = 1; break;
        case 2: this.primary_stat = ['智力']; this.secondary_stat = ['运气']; break;
        case 3: this.primary_stat = ['敏捷']; this.secondary_stat = ['力量']; break;
        case 4: this.primary_stat = ['运气']; this.secondary_stat = ['敏捷']; break;
        case 5: this.primary_stat = ['运气']; this.secondary_stat = ['敏捷','力量']; break;
        case 6: this.primary_stat = ['敏捷']; this.secondary_stat = ['力量']; break;
        case 7: this.primary_stat = ['力量']; this.secondary_stat = ['敏捷']; break;
        case 8: this.primary_stat = ['力量','敏捷','运气']; this.secondary_stat = []; this.job_type = 2; break;
        default: break;
      }
      this.update_footer = false;
      console.log(this.forms.job);
      this.table_column = [{field:'part', title:'部位'}, {field:'att', title:'攻击力'}, {field:'att_p', title:'攻击力%'}];
      this.stats = {'att':{'base':0,'percent':0,'final':0,'total':0}};
      for (let i = 0; i < this.primary_stat.length; ++i) {
        this.table_column.push({field:`p${i}`, title:this.primary_stat[i]});
        this.table_column.push({field:`p${i}_p`, title:this.primary_stat[i]+'%'});
        this.stats[`p${i}`] = {'base':0,'percent':0,'final':0,'total':0};
      }
      for (let i = 0; i < this.secondary_stat.length; ++i) {
        this.table_column.push({field:`s${i}`, title:this.secondary_stat[i]});
        this.table_column.push({field:`s${i}_p`, title:this.secondary_stat[i]+'%'});
        this.stats[`s${i}`] = {'base':0,'percent':0,'final':0,'total':0};
      }
      console.log(this.table_column);
      this.table_data = [];
      this.part.forEach(e => {
        let data = {'part':e,'att':'0','att_p':'0'};
        for (let i = 0; i < this.primary_stat.length; ++i) {
          data[`p${i}`] = '0';
          data[`p${i}_p`] = '0';
        }
        for (let i = 0; i < this.secondary_stat.length; ++i) {
          data[`s${i}`] = '0';
          data[`s${i}_p`] = '0';
        }
        this.table_data.push(data);
      });
      console.log(this.table_data)
    },
    update_final_att() {
      console.log('update final att');
      this.stats['att']['final'] = Number.parseInt(this.forms.inner_att) + Number.parseInt(this.forms.kanna_skill);
      if (this.update_footer) {
        this.$refs.xTable.updateFooter();
      } else {
        this.update_footer = true;
      }
    },

    download_data(filename, type, data)
    {
      var name = "".concat(filename, ".").concat(type);

      if (window.Blob) {
        var blob = new Blob([data], {
          type: "text/".concat(type)
        });

        var linkElem = document.createElement('a');
        linkElem.target = '_blank';
        linkElem.download = name;
        linkElem.href = URL.createObjectURL(blob);
        document.body.appendChild(linkElem);
        linkElem.click();
        document.body.removeChild(linkElem);
      }
    },
    load_data() {
      if (this.$refs.files.files.length > 0) {
        let reader = new FileReader();
        reader.onload = (e) => {
          try {
            let data = JSON.parse(reader.result);
            if (!data['header'] || data['header'] != 'msd') {
              this.$message.error('导入文件出错，请检查是否为正确的文件格式');
              return;
            }
            this.$message.success('导入文件成功');
            this.is_load = true;
            this.finished = false;
            this.update_footer = false;
            this.forms = Object.assign({}, data['forms']);
            this.primary_stat = data['primary_stat'];
            this.secondary_stat = data['secondary_stat'];
            this.table_column = data['table_column'];
            this.table_data = data['table_data'];
            this.job_type = data['job_type'];
            this.stats = Object.assign({}, data['stats']);
          } catch (e) {
            this.$message.error('导入文件出错，请检查是否为正确的文件格式');
            console.log(`${e.name} : ${e.message}`);
          }
        }
        reader.readAsText(this.$refs.files.files[0]);
      }
      this.$refs.files.value = '';
    },
    export_data() {
      let data = {};
      data['header'] = 'msd';
      data['forms'] = this.forms;
      data['primary_stat'] = this.primary_stat;
      data['secondary_stat'] = this.secondary_stat;
      data['table_column'] = this.table_column;
      data['table_data'] = this.table_data;
      data['stats'] = this.stats;
      data['job_type'] = this.job_type;
      this.download_data(this.forms.id ? this.forms.id : "未命名", 'msd', JSON.stringify(data));
      this.$message({
        message: '导出成功，请妥善保管哦！',
        type: 'success',
        showClose: true,
        duration: 3000
      });
    },
    import_data(e) {
      let input_file = document.getElementById("input_file");
      input_file.click();
    },

    statistics(col, data) {
      if (col >= this.table_column.length) return [0, 0];
      let added_stat = 0, final_stat = 0;
      for (let i = 0; i < 4; ++i) {
        if (col < 3) {
          added_stat += Number.parseInt(data[i][this.table_column[col].field]);
          if (col === 1) final_stat = this.stats['att']['final'];
        } else {
          if (i < 2 && this.forms.job[0] == 'warrior' && this.forms.job[1] == '1') {
            added_stat += Number.parseInt(data[i][this.table_column[col].field]);
          } else {
            final_stat += Number.parseInt(data[i][this.table_column[col].field]);
          }
        }
      }
      for (let i = 4; i < data.length; ++i) {
        added_stat += Number.parseInt(data[i][this.table_column[col].field]);
      }
      if (col % 2 === 0) final_stat = '-';

      let key = '';
      if (col < 3) {
        key = 'att';
      } else if (col < this.primary_stat.length * 2 + 3) {
        key = 'p' + Number.parseInt((col-3)/2);
      } else {
        key = 's' + Number.parseInt((col-(this.primary_stat.length*2+3))/2);
      }
      if (col % 2 === 1) {
        this.stats[`${key}`]['base'] = added_stat;
        this.stats[`${key}`]['final'] = final_stat;
      } else {
        this.stats[`${key}`]['percent'] = added_stat;
      }
      return [added_stat, final_stat];
    },
    active_cell_method ({ column, columnIndex, row, rowIndex }) {
      console.log(column, columnIndex, row, rowIndex);
      if (columnIndex == 0 && rowIndex < this.part.length) return false;
      if (rowIndex < 4 && columnIndex % 2 === 0) return false;
      if (2 <= rowIndex && rowIndex <= 3 && columnIndex < 3) return false;
      return true;
    },
    footer_method ({ columns, data }) {
      let added_stat = [];
      let final_stat = [];
      columns.forEach((column, index) => {
        if (index === 0) {
          added_stat.push('额外属性');
          final_stat.push('附加属性');
        } else {
          let s = this.statistics(index, data);
          added_stat.push(s[0]);
          final_stat.push(s[1]);
          if (index === 1) {
            final_stat[1] = Number.parseInt(this.forms.inner_att + this.forms.kanna_skill);
          }
        }
      });
      return [ added_stat, final_stat ];
    },

    add_row() {
      let data = {'part':'自己命名','att':'0','att_p':'0'};
        for (let i = 0; i < this.primary_stat.length; ++i) {
          data[`p${i}`] = '0';
          data[`p${i}_p`] = '0';
        }
        for (let i = 0; i < this.secondary_stat.length; ++i) {
          data[`s${i}`] = '0';
          data[`s${i}_p`] = '0';
        }
        this.table_data.push(data);
    },
    remove_row() {
      if (this.table_data.length > this.part.length) {
        this.table_data.pop();
      }
    },
    
    pure_stat() {
      let level = Number.parseInt(this.forms.level);
      let pure_stat = 0;
      if (this.job_type == 1) {
        if (level < 30) pure_stat = 220 + 90 * level;
        else if (level < 60) pure_stat = 395 + 90 * level;
        else if (level < 100) pure_stat = 470 + 90 * level;
        else pure_stat = 545 + 90 * level;
      } else {
        if (level < 60) pure_stat = 4 + level * 5;
        else if (level < 100) pure_stat = 9 + level * 5;
        else pure_stat = 14 + level * 5;
      }
      if (this.job_type == 2) {
        pure_stat = Number.parseInt(pure_stat / 3);
      }
      return pure_stat;
    },
    base_pri_stat(i) {
      return Math.round(this.pure_stat() * (1+Number.parseInt(this.forms.maple_warrior)*0.01)) + this.stats[`p${i}`]['base'];
    },
    base_sec_stat(i) {
      return this.stats[`s${i}`]['base'] + 4;
    },
    total_pri_stat(i) {
      return Math.round(this.base_pri_stat(i) * (1+this.stats[`p${i}`]['percent']*0.01)) + this.stats[`p${i}`]['final'];
    },
    total_sec_stat(i) {
      return Math.round(this.base_sec_stat(i) * (1+this.stats[`s${i}`]['percent']*0.01)) + this.stats[`s${i}`]['final'];
    },
    calc_damage(primary_stat, secondary_stat, att, weapon_multiplier, is_actual) {
      let actual_damage = 0;
      if (this.job_type === 2) {
        actual_damage = Math.round(primary_stat * 3.5 * weapon_multiplier * (att * 0.01));
      } else {
        actual_damage = Math.round((primary_stat * 4 + secondary_stat) * weapon_multiplier * (att * 0.01));
      }
      if (!is_actual)
        actual_damage = Math.round(actual_damage * (1 + this.forms.damage * 0.01) * (1 + this.forms.final_damage * 0.01))
      return actual_damage;
    },
    analyze() {
      this.stats['att']['total'] = Math.round(this.stats['att']['base'] * (1 + this.stats['att']['percent']*0.01)) + this.stats['att']['final'];
      let primary_stat_value = 0, secondary_stat_value = 0, multiplier = this.arms_ops[this.forms.arms]['multiplier'];
      for (let i = 0; i < this.primary_stat.length; ++i) {
        if (this.job_type == 1) {

        } else {
          this.stats[`p${i}`]['total'] = this.total_pri_stat(i);
          primary_stat_value += this.stats[`p${i}`]['total'];
        }
      }
      for (let i = 0; i < this.secondary_stat.length; ++i) {
        this.stats[`s${i}`]['total'] = this.total_sec_stat(i);
        secondary_stat_value += this.stats[`s${i}`]['total'];
      }
      this.actual_damage = this.calc_damage(primary_stat_value, secondary_stat_value, this.stats['att']['total'], multiplier, true);
      this.shown_damage = Math.round(this.actual_damage * (1 + this.forms.damage * 0.01) * (1 + this.forms.final_damage * 0.01));

      this.improve = [];
      if (this.job_type === 2) {

      } else {
        let att_up = Math.round((primary_stat_value * 4 + secondary_stat_value) * multiplier * 0.01);
        let stat_plus_one = Math.round((this.base_pri_stat(0)+1) * (1+this.stats['p0']['percent']*0.01)) + this.stats['p0']['final'];
        let stat_up = this.calc_damage(stat_plus_one, secondary_stat_value, this.stats['att']['total'], multiplier, true) - this.actual_damage;
        this.improve = [att_up, stat_up];
      }
      
      this.boss_improve = [];
      let current_damage = this.actual_damage * (1+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*this.forms.ignore_def*0.01)) * (1.35+this.forms.critical_damage*0.01);

      // 增加攻击的提升
      let total_att = Math.round(this.stats['att']['base'] * (1.09+this.stats['att']['percent']*0.01)) + this.stats['att']['final'];
      let add_9_att = this.calc_damage(primary_stat_value, secondary_stat_value, total_att, multiplier, true) *
        (1+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*this.forms.ignore_def*0.01)) * (1.35+this.forms.critical_damage*0.01);
      this.boss_improve.push({name:'9%攻击',value:add_9_att/current_damage});
      total_att = Math.round(this.stats['att']['base'] * (1.12+this.stats['att']['percent']*0.01)) + this.stats['att']['final'];
      let add_12_att = this.calc_damage(primary_stat_value, secondary_stat_value, total_att, multiplier, true) *
        (1+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*this.forms.ignore_def*0.01)) * (1.35+this.forms.critical_damage*0.01);
      this.boss_improve.push({name:'12%攻击',value:add_12_att/current_damage});
      console.log(current_damage, add_9_att, add_12_att);
      // 增加BOSS伤的提升
      let add_20_boss = this.actual_damage * (1.2+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*this.forms.ignore_def*0.01)) * (1.35+this.forms.critical_damage*0.01);
      this.boss_improve.push({name:'20%BOSS',value:add_20_boss/current_damage});
      let add_30_boss = this.actual_damage * (1.3+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*this.forms.ignore_def*0.01)) * (1.35+this.forms.critical_damage*0.01);
      this.boss_improve.push({name:'30%BOSS',value:add_30_boss/current_damage});
      let add_35_boss = this.actual_damage * (1.35+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*this.forms.ignore_def*0.01)) * (1.35+this.forms.critical_damage*0.01);
      this.boss_improve.push({name:'35%BOSS',value:add_35_boss/current_damage});
      let add_40_boss = this.actual_damage * (1.4+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*this.forms.ignore_def*0.01)) * (1.35+this.forms.critical_damage*0.01);
      this.boss_improve.push({name:'40%BOSS',value:add_40_boss/current_damage});
      // 增加无视的提升
      let ignore = (100 - this.forms.ignore_def) * 0.2 + this.forms.ignore_def;
      let add_20_ignore = this.actual_damage * (1+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*ignore*0.01)) * (1.35+this.forms.critical_damage*0.01);
      this.boss_improve.push({name:'20%无视',value:add_20_ignore/current_damage});
      ignore = (100 - this.forms.ignore_def) * 0.3 + this.forms.ignore_def;
      let add_30_ignore = this.actual_damage * (1+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*ignore*0.01)) * (1.35+this.forms.critical_damage*0.01);
      this.boss_improve.push({name:'30%无视',value:add_30_ignore/current_damage});
      ignore = (100 - this.forms.ignore_def) * 0.35 + this.forms.ignore_def;
      let add_35_ignore = this.actual_damage * (1+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*ignore*0.01)) * (1.35+this.forms.critical_damage*0.01);
      this.boss_improve.push({name:'35%无视',value:add_35_ignore/current_damage});
      ignore = (100 - this.forms.ignore_def) * 0.4 + this.forms.ignore_def;
      let add_40_ignore = this.actual_damage * (1+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*ignore*0.01)) * (1.35+this.forms.critical_damage*0.01);
      this.boss_improve.push({name:'40%无视',value:add_40_ignore/current_damage});
      // 增加爆伤的提升
      let add_1_critical_damage = this.actual_damage * (1+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*this.forms.ignore_def*0.01)) * (1.36+this.forms.critical_damage*0.01);
      this.boss_improve.push({name:'1%爆伤',value:add_1_critical_damage/current_damage});

      // 推论
      total_att = Math.round(this.stats['att']['base'] * (1.01+this.stats['att']['percent']*0.01)) + this.stats['att']['final'];
      let add_1_att = this.calc_damage(primary_stat_value, secondary_stat_value, total_att, multiplier, true) *
        (1+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*this.forms.ignore_def*0.01)) * (1.35+this.forms.critical_damage*0.01);
      let add_1_boss = this.actual_damage * (1.01+this.forms.damage*0.01+this.forms.boss*0.01) * (1-(3-3*this.forms.ignore_def*0.01)) * (1.35+this.forms.critical_damage*0.01);
      let att_scale = this.stats['att']['base']*0.01 / (1+this.stats['att']['percent']*0.01);

      this.boss_to_attp = (add_1_boss - current_damage) / (add_1_att - current_damage);
      this.boss_to_att = this.boss_to_attp * att_scale;
      this.cd_to_att = (add_1_critical_damage - current_damage) / (add_1_att - current_damage) * att_scale;
      if (this.job_type === 2) {
        this.cd_to_statp = 0;
      } else {
        let stat_scale = (this.improve[0]*(1+this.stats['p0']['percent']*0.01))/(this.improve[1]*(this.stats['p0']['base']*0.01));
        this.cd_to_statp = this.cd_to_att * stat_scale;
      }

      this.finished = true;
    },
  },
}
</script>

<style>
  .header {
    font-size: xx-large;
    font-family: "Helvetica","华文细黑";
  }
  .tips {
    padding: 10px;
    background-color: #ffeafc87;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #ded8d87a;
  }
  .toolbar {
    margin: 5px 0;
  }
  .el-form-item--small.el-form-item {
    margin-bottom: 10px;
  }
  .el-form--label-top .el-form-item__label {
    line-height: 20px;
    padding: 0 0;
  }
  .table-extra {
    margin: 10px 0;
  }
  .panel-result {
    width: 96%;
    background-color: #fefef9;
    padding: 8px;
  }
  .panel-result .result-item {
    margin: 8px 0;
  }
</style>