<template>
  <div>
    <div class="header">星之力系统</div>
    <el-tabs v-model="activeTab" type="card" @tab-click="tab_change">
      <el-tab-pane label="正推" name="1"></el-tab-pane>
      <el-tab-pane label="逆推" name="2"></el-tab-pane>
      <!-- <el-tab-pane label="极真" name="3"></el-tab-pane> -->
    </el-tabs>

    <el-alert style="margin-bottom: 20px;"
      show-icon
      title="数据来源于网络，如有错误请向我反馈，谢谢"
      type="warning"
      close-text="必须滴">
    </el-alert>

    <el-form :model="forms" :rules="rules" ref="forms" label-width="120px">
      <el-row :gutter="10">
        <el-col :span="10">
          <el-form-item label="装备类型：">
          <el-select v-model="forms.equip">
            <el-option
              v-for="item in equip_options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="等级：" prop="level">
            <el-input v-model.number="forms.level"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="10">
        <el-col :span="10">
          <el-form-item label="初始属性：" prop="init_prop">
            <el-input v-model.number="forms.init_prop"></el-input>
          </el-form-item></el-col>
        <el-col :span="10">
          <el-form-item label="初始攻击：" prop="init_att">
          <el-input v-model.number="forms.init_att"></el-input>
        </el-form-item></el-col>
      </el-row>
      
      <el-row :gutter="10" v-if="activeTab == '1'">
        <el-col :span="10">
          <el-form-item label="卷轴强化属性：" prop="scroll_prop">
            <el-input v-model.number="forms.scroll_prop" placeholder="满卷后总属性"></el-input>
          </el-form-item></el-col>
        <el-col :span="10">
          <el-form-item label="卷轴强化攻击：" prop="scroll_att">
          <el-input v-model.number="forms.scroll_att" placeholder="满卷后总攻击"></el-input>
        </el-form-item></el-col>
      </el-row>

      <el-row :gutter="10" v-if="activeTab == '2'">
        <el-col :span="10">
          <el-form-item label="最终属性：" prop="fin_prop">
            <el-input v-model.number="forms.fin_prop"></el-input>
          </el-form-item></el-col>
        <el-col :span="10">
          <el-form-item label="最终攻击：" prop="fin_att">
          <el-input v-model.number="forms.fin_att"></el-input>
        </el-form-item></el-col>
      </el-row>

      <el-row :gutter="10">
        <el-col :span="10">
          <el-form-item label="火花加成属性：" prop="flame_prop">
            <el-input v-model.number="forms.flame_prop"></el-input>
          </el-form-item></el-col>
        <el-col :span="10">
          <el-form-item label="火花加成攻击：" prop="flame_att">
          <el-input v-model.number="forms.flame_att"></el-input>
        </el-form-item></el-col>
      </el-row>

      <el-row :gutter="10">
        <el-col :span="10">
          <el-form-item v-if="activeTab == '2'" label="卷轴强化次数：">
            <el-input-number v-model="forms.times" controls-position="right" :min="0" :max="25"></el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="强化星星数：">
            <el-input-number v-model="forms.star" controls-position="right" :min="0" :max="25"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item>
        <el-button type="primary" @click="calculate('forms')">推算</el-button>
      </el-form-item>
    </el-form>
    <hr v-if="calc_fin">
    <el-card v-if="calc_fin" class="calc_result">
      <div slot="header">
        <span>推算结果</span>
      </div>
      <div v-if="activeTab == '1' || activeTab == '3'">应用{{ forms.star }}星强化后：属性值：<el-tag>+{{ calc_prop }}</el-tag>, 攻击力：<el-tag>+{{ calc_att }}</el-tag></div>
      <div v-if="activeTab == '2'">
        <div>使用{{ forms.times }}次卷轴强化后：属性值：<el-tag>+{{ calc_prop }}</el-tag>, 攻击力：<el-tag>+{{ calc_att }}</el-tag></div>
        <div>平均每张卷属性 <el-tag>+{{ calc_prop / forms.times | numFilter }}</el-tag>, 攻击力 <el-tag>+{{ calc_att / forms.times | numFilter }}</el-tag></div>
        <div class="more_info" v-if="calc_fin_wait">
          <div style="width: 40%">我需要更多的信息，请输入无关属性的加成：</div>
          <el-input style="width: 20%" v-model.number="unrelated_prop" placeholder="无关属性（除主副）"></el-input>
          <el-button type="success" @click="fin_calc()" icon="el-icon-check" circle></el-button>
        </div>
        <div v-if="!calc_fin_wait">可能使用的卷轴为：
          <el-tag type="success" v-for="scroll in possible_scrolls" :key="scroll">{{ scroll }}</el-tag>
        </div>
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  name: "Star",

  data () {
    var check_level = (rule, value, callback) => {
      if (!value && value != 0) {
        return callback(new Error('请输入装备等级'));
      }
      setTimeout(() => {
        if (!Number.isInteger(value)) {
          callback(new Error('请输入正确的数字'));
        } else {
          if (value < 0 || value > 200) {
            callback(new Error('装备的等级在1~200之间'));
          } else {
            callback();
          }
        }
      }, 100);
    };
    return {
      activeTab: '1',

      equip_options: [{
        value: 'arm',
        label: '武器'
      }, {
        value: 'armor',
        label: '防具/饰品'
      }],

      forms: {
        equip: 'arm',
        level: '',
        init_prop: '',
        init_att: '',
        fin_prop: '',
        fin_att: '',
        scroll_prop: '',
        scroll_att: '',
        flame_prop: '',
        flame_att: '',
        times: 10,
        star: 10,
      },
      rules: {
        level: [ { validator: check_level } ],
        init_prop: [ { type: 'number', message: '请输入正确的属性值'} ],
        init_att: [ { type: 'number', message: '请输入正确的攻击力'} ],
        fin_prop: [ { type: 'number', message: '请输入正确的属性值'} ],
        fin_att: [ { type: 'number', message: '请输入正确的攻击力'} ],
        scroll_prop: [ { type: 'number', message: '请输入正确的属性值'} ],
        scroll_att: [ { type: 'number', message: '请输入正确的攻击力'} ],
        flame_prop: [ { type: 'number', message: '请输入正确的属性值'} ],
        flame_att: [ { type: 'number', message: '请输入正确的攻击力'} ],
      },

      unrelated_prop: '',
      calc_fin_wait: false,
      calc_fin: false,
      calc_prop: 0,
      calc_att: 0,
      possible_scrolls: [],

      // lookup table
      star_add_att: {
        'arm': [
          { '16':6,'17':7,'18':7,'19':8,'20':9, }, // 130
          { '16':7,'17':8,'18':8,'19':9,'20':10,'21':11,'22':12,'23':14,'24':16,'25':18, }, // 140
          { '16':8,'17':9,'18':9,'19':10,'20':11,'21':12,'22':13,'23':15,'24':17,'25':19, }, // 150
          { '16':9,'17':9,'18':10,'19':11,'20':12,'21':13,'22':14,'23':16,'24':18,'25':20, }, // 160
          { '16':12,'17':13,'18':14,'19':14,'20':15,'21':16,'22':17,'23':18,'24':19,'25':20, }, // 200
        ],
        'armor': [
          { '16':7,'17':8,'18':9,'19':10,'20':11, }, // 130
          { '16':8,'17':9,'18':10,'19':11,'20':12,'21':13,'22':15,'23':14,'24':16,'25':18, }, // 140
          { '16':9,'17':10,'18':11,'19':12,'20':13,'21':14,'22':16,'23':15,'24':17,'25':19, }, // 150
          { '16':10,'17':11,'18':12,'19':13,'20':14,'21':15,'22':17,'23':16,'24':18,'25':20, }, // 160
          { '16':12,'17':13,'18':14,'19':15,'20':16,'21':17,'22':19,'23':18,'24':19,'25':20, }, // 200
        ]
      }
    };
  },

  methods: {
    tab_change(tab, e) {
      // var index = parseInt(tab.index);
      // console.log(index)
      this.$refs['forms'].resetFields();
      this.forms.times = 10;
      this.forms.star = 10;
      this.forms.equip = 'arm';
      this.unrelated_prop = '',
      this.calc_fin_wait = false;
      this.calc_fin = false;
      this.possible_scrolls = [];
    },

    calculate(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.possible_scrolls = [];
          if (this.activeTab == 1) {
            this.forward_calc();
          } else if (this.activeTab == 2) {
            this.backward_calc();
          }
          return true;
        } else {
          this.calc_fin = false;
          return false;
        }
      })
    },

    forward_calc() {
      var prop_res = this.forms.init_prop + this.forms.scroll_prop;
      var att_res = this.forms.init_att + this.forms.scroll_att;
      for (var i = 1; i <= this.forms.star; ++i) {
        if (i <= 15) {
          prop_res += i <= 5 ? 2 : 3;
          if (this.forms.equip == 'arm') att_res += parseInt(att_res / 50, 10) + 1;
        } else {
          if (this.forms.level < 140) {
            if (i <= 22) prop_res += 7;
            att_res += this.star_add_att[this.forms.equip][0][i.toString(10)];
          } else if (this.forms.level < 150) {
            if (i <= 22) prop_res += 9;
            att_res += this.star_add_att[this.forms.equip][1][i.toString(10)];
          } else if (this.forms.level < 160) {
            if (i <= 22) prop_res += 11;
            att_res += this.star_add_att[this.forms.equip][2][i.toString(10)];
          } else if (this.forms.level < 200) {
            if (i <= 22) prop_res += 13;
            att_res += this.star_add_att[this.forms.equip][3][i.toString(10)];
          } else {
            if (i <= 22) prop_res += 15;
            att_res += this.star_add_att[this.forms.equip][4][i.toString(10)];
          } 
        }
      }
      if (this.forms.star > 22) {
        att_res += (this.forms.star - 22) * 16;
      }
      this.calc_prop = prop_res + this.forms.flame_prop;
      this.calc_att = att_res + this.forms.flame_att;
      this.calc_fin = true;
    },

    backward_calc() {
      this.calc_fin_wait = false;
      this.calc_fin = false;
      var prop_res = this.forms.fin_prop - this.forms.flame_prop;
      var att_res = this.forms.fin_att - this.forms.flame_att;
      for (var i = this.forms.star; i > 0; --i) {
        if (i > 15) {
          if (this.forms.level < 140) {
            if (i <= 22) prop_res -= 7;
            att_res -= this.star_add_att[this.forms.equip][0][i.toString(10)];
          } else if (this.forms.level < 150) {
            if (i <= 22) prop_res -= 9;
            att_res -= this.star_add_att[this.forms.equip][1][i.toString(10)];
          } else if (this.forms.level < 160) {
            if (i <= 22) prop_res -= 11;
            att_res -= this.star_add_att[this.forms.equip][2][i.toString(10)];
          } else if (this.forms.level < 200) {
            if (i <= 22) prop_res -= 13;
            att_res -= this.star_add_att[this.forms.equip][3][i.toString(10)];
          } else {
            if (i <= 22) prop_res -= 15;
            att_res -= this.star_add_att[this.forms.equip][4][i.toString(10)];
          }
        } else {
          prop_res -= i <= 5 ? 2 : 3;
          if (this.forms.equip == 'arm') att_res -= parseInt((att_res + 50) / 51, 10)
        }
      }
      this.calc_prop = prop_res - this.forms.init_prop;
      this.calc_att = att_res - this.forms.init_att;
      var ave_prop = this.calc_prop / this.forms.times;
      var ave_att = this.calc_att / this.forms.times;
      this.scroll_calc(ave_prop, ave_att, this.forms.times);
    },

    fin_calc() {
      var ave_att = this.calc_att / this.forms.times;
      if (ave_att == 7) {
        if (this.unrelated_prop == 0) {
          this.possible_scrolls.push("15%痕迹");
        } else {
          var x = parseInt(this.unrelated_prop / 3, 10);
          var y = this.forms.times - x;
          this.possible_scrolls.push(x.toString() + "张PKB卷，" + y.toString() + "张15%痕迹");
          if (x % 2 == 0) {
            var z = x / 2;
            this.possible_scrolls.push(z.toString() + "张RED卷，" + z.toString() + "张PKB卷，" + y.toString() + "张15%痕迹");
          }
        }
      } else {
        var x = parseInt(this.unrelated_prop / 3, 10);
        if (x == this.forms.times) {
          if (ave_att >= 5 && ave_att <= 8) {
            this.possible_scrolls.push("PKB卷");
          }
          this.possible_scrolls.push("PKB卷混RED卷");
        } else {
          if (ave_att < 8) {
            this.possible_scrolls.push("15%痕迹混PKB卷");
          } else {
            this.possible_scrolls.push("15%痕迹、PKB卷、RED卷之间的混卷");
          }
        }
      }
      this.calc_fin_wait = false;
    },

    scroll_calc(ave_prop, ave_att, times) {
      if (this.forms.equip == 'armor') {
        this.possible_scrolls.push("自己想！");
        this.calc_fin = true;
        return;
      }
      if (ave_prop < 3) {
        if (ave_att > 8 && ave_att < 11 && ave_prop == 0) 
          this.possible_scrolls.push("星火卷");
        else if (ave_att > 7 && ave_prop != 0)
        {
          this.possible_scrolls.push("星火混痕迹");
          if ((ave_prop * times) % 3 == 0)
            this.possible_scrolls.push("星火混PKB卷");
        }
        else if (ave_att == 5 && ave_prop == 2) 
          this.possible_scrolls.push("30%咒语痕迹");
        else if (ave_att == 4 && ave_prop == 1) 
          this.possible_scrolls.push("70%咒语痕迹");
        else
          this.possible_scrolls.push("垃圾卷");
      } else if (ave_prop > 3) {
        if (ave_prop < 8 && ave_att < 12) {
          var y = (this.calc_prop - 3 * times) / 5;
          var x = times - y;
          if (Number.isInteger(x) && Number.isInteger(y)){
            this.possible_scrolls.push(x.toString() + "张惊人" + y.toString() + "张X卷");
          } else {
            this.possible_scrolls.push("脑子瓦特了才这么混卷");
          }
        }
        else if (ave_prop == 8 && (ave_att >= 8 && ave_att < 13)) {
          this.possible_scrolls.push("X卷");
          if (times % 7 == 0) this.possible_scrolls.push("脑子瓦特了才惊人混V卷");
          if (times % 8 == 0) this.possible_scrolls.push("脑子瓦特了才惊人混B卷");
        }
        else if (ave_prop == 10) {
          if (ave_att == 12) {
            this.possible_scrolls.push("V卷");
            if (times % 3 == 0) this.possible_scrolls.push("X卷混B卷");
          } else if (ave_att > 9 && ave_att < 13) {
            this.possible_scrolls.push("XVB混卷");
          } else {
            this.possible_scrolls.push("超出了我的认知");
          }
        }
        else if (ave_prop == 11 && ave_att == 13) {
          this.possible_scrolls.push("B卷");
        }
        else if ((ave_prop > 8 && ave_prop < 11) && (ave_att > 9 && ave_att < 13)) {
          this.possible_scrolls.push("XVB混卷");
        }
        else {
          this.possible_scrolls.push("超出了我的认知");
        }
      } else {
        if (ave_att < 9) {
          this.calc_fin_wait = true;
        }
        else if (ave_att == 9) {
          this.possible_scrolls.push("RED卷");
          if (times % 2 == 0) this.possible_scrolls.push("PKB卷混惊人卷");
        }
        else if (ave_att > 9 && ave_att < 10) {
          var y = this.calc_att - times * 9;
          var x = times - y;
          this.possible_scrolls.push(x.toString() + "张RED卷" + y.toString() + "张惊人卷");
        }
        else if (ave_att == 10) {
          this.possible_scrolls.push("惊人卷");
        }
        else {
          this.possible_scrolls.push("超出了我的认知");
        }
      }
      this.calc_fin = true;
    },

  },

  filters: {
    numFilter (value) {
      let realVal = parseFloat(value).toFixed(2);
      return realVal;
    }
  }
}
</script>

<style>
  .header {
    font-size: xx-large;
    font-family: "Helvetica";
    margin-bottom: 20px;
  }
  
  .more_info {
    margin: 10px 0;
    display: flex;
  }
</style>