<template>
  <div class="page-container">
    <div class="header">神秘球</div>
    <el-form label-width="80px" :rules="rules" :model="form" ref="form">
      <el-row :gutter="5">
        <el-col :span="6">
          <el-form-item label="当前等级" prop="level">
            <el-input v-model.number="form.level"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="当前经验" prop="exp">
            <el-input v-model.number="form.exp"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="每天获得" prop="count">
            <el-input v-model.number="form.count"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="1">
          <el-button type="primary" round @click="calculate('form')">计算</el-button>
        </el-col>
      </el-row>
    </el-form>
    <el-card v-if="calc_fin" class="box-card">
      <div slot="header">
        <span>转移后变为{{transfer_level}}级{{transfer_level}}经验的神秘球</span><br>
        <span v-if="total_day != 0">距离满级还差{{ total_day }}天！
          <el-progress :text-inside="true" :stroke-width="25" :percentage="percent" status="success"></el-progress>
        </span>
        <span v-if="total_day == 0">恭喜你！这个神秘球毕业啦！(>▽<)</span>
        
      </div>
      <div v-if="total_day != 0">
        <div v-for="res in calc_res" :key="res[0]">
          {{ '距离'+res[0]+'级还有'+res[1]+'天' }}
        </div>
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  name: "Arcane",
  data () {
    var check_level = (rule, value, callback) => {
      if (!value && value != 0) {
        return callback(new Error('请输入当前等级'));
      }
      setTimeout(() => {
        if (!Number.isInteger(value)) {
          callback(new Error('请输入正确的数字'));
        } else {
          if (value < 1 || value > 20) {
            callback(new Error('请输入正确的等级范围（1~20）'));
          } else {
            callback();
          }
        }
      }, 100);
    };
    var check_exp = (rule, value, callback) => {
      if (!value && value != 0) {
        return callback(new Error('请输入正确的数字'));
      }
      setTimeout(() => {
        if (!Number.isInteger(value)) {
          callback(new Error('请输入正确的数字'));
        } else {
          if (value < 0) {
            callback(new Error('不可以输入负数哦！'));
          } else {
            callback();
          }
        }
      }, 100);
    };
    var check_count = (rule, value, callback) => {
      if (!value && value != 0) {
        return callback(new Error('请输入正确的数字'));
      }
      setTimeout(() => {
        if (!Number.isInteger(value)) {
          callback(new Error('请输入正确的数字'));
        } else {
          if (value < 1) {
            callback(new Error('必须要输入正整数哦！'));
          } else {
            callback();
          }
        }
      }, 100);
    };
    return {
      up: [0, 12, 15, 20, 27, 36, 47, 60, 75, 92, 111, 132, 155, 180, 207, 236, 267, 300, 335, 372],
      calc_fin: false,
      calc_res: [],
      percent: 0,
      total_day: 0,
      transfer_level: 0,
      transfer_exp: 0,
      form: {
        level: '',
        exp: '',
        count: ''
      },
      rules: {
        level: [ { validator: check_level } ],
        exp: [ { validator: check_exp } ],
        count: [ { validator: check_count } ],
      }
    }
  },
  methods: {
    calculate(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.calc_res = [];
          this.total_day = 0;
          var e = this.form.exp;
          for (var i = this.form.level; i < 20; ++i) {
            var day = 0;
            while (e < this.up[i]) {
              day++;
              e += this.form.count;
            }
            e -= this.up[i];
            this.total_day += day;
            this.calc_res.push([i+1, this.total_day]);
          }
          // update percent
          var n = 0;
          for (var i = 0; i < this.form.level; ++i) {
            n += this.up[i];
          }
          n += this.form.exp;
          if (n > 2679) n = 2679;
          this.percent = Number.parseInt(n / 2679 * 100);
          let transfer = Math.round(n * 0.8);
          this.transfer_level = 1;
          while (true) {
            if (transfer > this.up[this.transfer_level]) {
              transfer -= this.up[this.transfer_level];
              this.transfer_level++;
            } else {
              this.transfer_exp = transfer;
              break;
            }
          }
          this.calc_fin = true;
          return true;
        } else {
          this.calc_fin = false;
          return false;
        }
      })
    },
  }
}
</script>

<style>
  .header {
    font-size: xx-large;
    font-family: "Helvetica";
  }
  .box-card {
    margin-top: 10px;
  }
</style>