<template>
  <div class="page-container">
    <div class="header">贝勒德专属</div>
    <el-alert
      title="计算制作满专属贝勒德时，不同的防爆策略花费的平均成本"
      type="success"
      description="以下价值为单件价值，即使是可以白嫖的，一律按正常市场价格算，因为这些资源你消耗得越少，多余的你可以选择卖掉而变相降低成本。我们忽略幸运日、拉纯白以及金锤子的成本，它们对我们做这个比较的影响很小。">
    </el-alert>
    <div style="margin-top: 10px"></div>
    <el-form :rules="rules" :model="form" ref="form" label-width="100px">
      <el-row :gutter="10">
        <el-col :span="8">
          <el-form-item label="物品价值" prop="price">
            <el-input v-model.number="form.price" placeholder="物品的白板价格"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="专属卷价值" prop="scroll">
            <el-input v-model.number="form.scroll" placeholder="一张贝勒德专属卷轴的价格"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="10">
        <el-col :span="8">
          <el-form-item label="总共次数" prop="times">
            <el-input-number  v-model="form.times" controls-position="right" :min="1" :max="11"></el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="防爆卷价值" prop="protect">
            <el-input v-model.number="form.protect" placeholder="一张防爆卷轴的价格"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="10">
        <el-col :span="8">
          <el-form-item label="幸运日" prop="times">
            <el-checkbox v-model="form.lucky" label="搞起!"></el-checkbox>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="手技" prop="times">
            <el-checkbox v-model="form.skill" label="满上!"></el-checkbox>
          </el-form-item>
        </el-col>
      </el-row>
      <el-button type="primary" round @click="calculate('form')">计算</el-button>
    </el-form>
    <div v-if="calc_fin">
      <ve-line :data="chart_data" :settings="chart_settings"></ve-line>
    </div>
  </div>
</template>

<script>
export default {
  name: "Gollux",
  data () {
    var check_num = (rule, value, callback) => {
      if (!value && value != 0) {
        return callback(new Error('请输入正确的数字'));
      }
      setTimeout(() => {
        if (!Number.isInteger(value)) {
          callback(new Error('请输入正确的数字'));
        } else {
          if (value < 0) {
            callback(new Error('这还能整倒贴的奥？'));
          } else {
            callback();
          }
        }
      }, 100);
    };
    return {
      calc_fin: false,

      form: {
        price: '',
        scroll: '',
        times: 6,
        protect: '',
        lucky: false,
        skill: false
      },
      rules: {
        price: [ { validator: check_num } ],
        scroll: [ { validator: check_num } ],
        protect: [ { validator: check_num } ],
      },

      chart_settings: {
        axisSite: { right: ['平均砸卷次数'] },
        yAxisName: ['平均成本', '砸卷次数']
      },
      chart_data: {
        columns: ["开始防爆", "平均成本", "平均砸卷次数"],
        rows: [],
      }
    }
  },
  methods: {
    simulate(n, p) {
      var total_cost = 0;
      var total_scroll = 0;
      for (var si = 0; si < 10000; ++si) {
        var cost = this.form.price;
        var i = 0;
        while (i < n) {
          if (Math.random() <= p) {
            i++;
          } else {
            if (Math.random() <= 0.5) {
              cost += this.form.price;
              i = 0;
            }
          }
          cost += this.form.scroll;
          total_scroll++;
        }
        while (i < this.form.times) {
          if (Math.random() <= p) ++i;
          cost += this.form.protect;
          cost += this.form.scroll;
          total_scroll++;
        }
        total_cost += cost;
      }
      return [(total_cost / 10000).toFixed(2), (total_scroll / 10000).toFixed(2)];
    },
    calculate(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.chart_data.rows = [];
          for (var i = 0; i <= this.form.times; ++i) {
            var p = 0.6;
            if (this.form.lucky) p = p * 1.1;
            if (this.form.skill) p = p * 1.1;
            var res = this.simulate(i, p);
            if (i == 0) {
              this.chart_data.rows.push({"开始防爆": "全程防爆", "平均成本":res[0], "平均砸卷次数": res[1]});
            } else if (i == this.form.times) {
              this.chart_data.rows.push({"开始防爆": "全程白嫖", "平均成本":res[0], "平均砸卷次数": res[1]});
            } else {
              this.chart_data.rows.push({"开始防爆": "白嫖" + i.toString() + "次", "平均成本":res[0], "平均砸卷次数": res[1]});
            }
          }
          this.calc_fin = true;
          return true;
        } else {
          this.calc_fin = false;
          return false;
        }
      })
    }
  }
}
</script>

<style>
  .header {
    font-size: xx-large;
    font-family: "Helvetica";
  }
</style>