<template>
  <div id="app">
    <div class="bg-left" :style="{backgroundImage: 'url(../static/bg/l' + bg + '.jpg)'}"></div>
    <el-container class="app-container">
      <el-aside width="200px" >
        <el-menu
          default-active="home"
          router
          class="el-menu-vertical-demo"
          background-color="#545c64"
          text-color="#fff"
          active-text-color="#ffd04b">
          <el-menu-item index="home">
            <i class="el-icon-info"></i>
            <span slot="title">序</span>
          </el-menu-item>
          <el-menu-item index="panel">
            <i class="el-icon-menu"></i>
            <span slot="title">面板</span>
          </el-menu-item>
          <el-menu-item index="star">
            <i class="el-icon-star-on"></i>
            <span slot="title">星之力</span>
          </el-menu-item>
          <el-submenu index="calc">
            <template slot="title">
              <i class="el-icon-edit-outline"></i>
              <span>计算器</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="arcane">神秘球</el-menu-item>
              <el-menu-item index="gollux">贝勒德专属</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="data">
            <template slot="title">
              <i class="el-icon-s-data"></i>
              <span>数据</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="link">角色卡及Link</el-menu-item>
              <el-menu-item index="exp">升级经验表</el-menu-item>
              <el-menu-item index="exp-visual">升级经验可视化</el-menu-item>
              <el-menu-item index="exp-calc">经验计算公式</el-menu-item>
              <el-menu-item index="boss">Boss数据</el-menu-item>
              <el-menu-item index="boss-furniture">Boss家具</el-menu-item>
              <el-menu-item index="cube">魔方概率</el-menu-item>
              <el-menu-item index="haven">避风港周常任务</el-menu-item>
              <el-menu-item index="pet">群宠效果</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </el-aside>
      <el-container>
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
    <div class="bg-right" :style="{backgroundImage: 'url(../static/bg/r' + bg + '.jpg)'}"></div>
  </div>
</template>

<script>
  export default {
    name: 'MapleBook',
    components: {
    },
    mounted() {
      this.timer = setInterval(this.update_bg, 10000);
    },
    methods: {
      update_bg() {
        this.bg = (this.bg + 1) % 8;
      },
      bg_left_style() {
        return {
          "backgroundImage": "url(assets/bg/l"+this.bg+".jpg)"
        }
      }
    },
    data() {
      return {
        timer: '',
        bg: 0,
      }
    }
  }
</script>

<style>
  ::-webkit-scrollbar-track{
  border-radius:4px;
  }
  ::-webkit-scrollbar-track-piece{
  -webkit-border-radius:4px;
  }
  ::-webkit-scrollbar-track-piece:hover{

  }
  ::-webkit-scrollbar{
  width:10px;
  height:10px;
  border-radius:0px;
  background-color:#F1F1F1;
  }
  ::-webkit-scrollbar:hover{
  background:#DCE1E4;
  }
  ::-webkit-scrollbar-thumb{
  background-color:#C1C8CC;
  border:solid 1px #B5BBBF;
  border-radius:4px;
  }
  ::-webkit-scrollbar-thumb:hover{
  background-color:#bcc2cac7;
  border-color:#B5BBBF;
  }
  ::-webkit-scrollbar-arrow {
  color:#F00;
  background:#0F0;
  }
  ::-webkit-scrollbar-button{
  display:block;
  width:10px;
  height:10px;
  border-radius:4px;
  border:1px solid #B5BBBF;
  display:none;
  }
  ::-webkit-scrollbar-button:hover{
  border-color:#5F6366;
  }
  ::-webkit-scrollbar-button:vertical:start:increment,
  ::-webkit-scrollbar-button:vertical:end:decrement {
  display:none;
  }
  html,body {
    height: 100%;
    background-image: url('assets/7.png');
    background-size: cover;
    font-family: "Helvetica","华文细黑";
  }
  #app {
    height: 100%;
    width: 100%;
    display: flex;
  }
  .bg-left {
    width: 22%;
    background-size: cover;
    transition: background-image 1s linear;
  }
  .bg-right {
    width: 22%;
    background-size: cover;
    transition: background-image 1s linear;
  }
  .app-container {
    width: 56%;
    min-height: 100%;
    max-height: 100%;
    min-width: 960px;
    background-image: url('assets/paper.jpg');
  }
  .el-menu {
    height: 100%;
  }
  .el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
  }
  .el-aside {
    color: #333;
  }
</style>
